[Desktop Entry]
Version=1.0
Type=Application
Name=BakkesMod Tool
Exec=bakkesmod-tool
Icon=bakkesmod
Terminal=true
NoDisplay=false
Name[en_GB]=BakkesMod Tool
X-Desktop-File-Install-Version=0.26
